@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>
<h3> Contact us to find out solution for your Question</h3>

<p>This is for find out any person what details on your hand. First you have to create account using your orginal data. After approve it by Admin, you can use this. Only for sabaragamuwa university students</p>
