@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>Contact us</h3>

<address>
    Sabaragamuwa University<br />
    PO Box - 02<br />
    Pambahinna <br />
    Belihul Oya <br />
    <abbr title="Phone">Tel:</abbr>
    011-1234567
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:sabraunistudentweb@gmail.com">sabraunistudentweb@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>
